/* The outer container is used for external spacing, and to constrain size */

.outerContainer {
    margin-bottom: 16px;
    min-height: 250px;
    height: 50vh;
    max-height: 800px;
}

/**
 * Since we can't pad the Card directly, we're using an inner container for it.
 * It also creates a layout where the chart container is grown as large as
 * possible, so that chart.js will display the chart using all the available
 * space.
 */

.innerContainer {
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/**
 * chart.js canvas needs a dedicated wrapper to have a responsive size
 * https://www.chartjs.org/docs/latest/general/responsive.html#important-note
 *
 * The 99% width forces the width to be recalculated on horizontal viewport
 * resize and will make chart.js adapt to the new width. If left at 100% the
 * wrapper will never shrink.
 */

.chartContainer {
    position: relative;
    flex: 1;
    overflow: hidden;
    width: 99%;
}
