/* The outer container is used for external spacing, and to constrain size */

.outerContainer {
    margin-bottom: var(--spacers-dp16);
    min-height: 250px;
    height: 50vh;
    max-height: 800px;
}

/**
 * Since we can't pad the Card directly, we're using an inner container for it.
 * It also creates a layout where the chart container is grown as large as
 * possible, so that chart.js will display the chart using all the available
 * space.
 */

.innerContainer {
    padding: var(--spacers-dp16);
    display: flex;
    flex-direction: column;
    height: 100%;
}

/**
 * chart.js canvas needs a dedicated wrapper to have a responsive size
 * https://www.chartjs.org/docs/latest/general/responsive.html#important-note
 */

.chartContainer {
    position: relative;
    flex: 1;
    overflow: hidden;
}
