@import '../../node_modules/d2-ui/lib/css/HeaderBar.css';

$left-bar-width: 380px;

html {
  background-color: #f3f3f3;
  font-family: Roboto, Arial, sans-serif;
}

.app-wrapper {
  margin-top: 4rem;
}

.left-bar {
  bottom: 0;
  left: 0;
  padding-top: 3rem;
  position: fixed;
  top: 0;
  width: $left-bar-width;
}

.main-content {
  margin-left: $left-bar-width - 110;
}

.scroller {
  width: 100px;
  overflow: auto;
  height: 100px;
  white-space: nowrap;
  display: inline-block;
}

.container-outer {
  overflow: scroll;
  width: 500px;
  height: 210px;
}

.container-inner {
  width: 15000px;
}
